.project {
    margin-top: 48px;
}

.project .divide {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-right: -32px;

    position: relative;
}

.project .divide > a {
    flex: 1 1 0;
    min-width: 350px;
    margin-right: 32px;
    border: solid 1px #ddd;
}

.project .divide > table {
    flex: 1 1 0;
    min-width: 350px;
    margin-right: 32px;
}

.project img {
    object-fit: contain !important;
    object-position: top center !important;
}

