.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: -64px;
}

.grid > * {
    flex: 1 1 0;
    min-width: 350px;
    margin-right: 64px;
}

.block h4 {
    margin-bottom: 12px;
}
