.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    /*border-bottom: solid 1px #aaa;*/
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 24px;
    padding-bottom: 12px;
}

.header h1 {
    margin-right: 32px;
    color: #3d424b;
}

.header nav {
    margin-top: 16px;
}

.nav > *:not(:first-child) {
    margin-left: 24px;
}
