.subtitle {
    border-bottom: solid 1px #ccc;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

.subtitle * {
    display: inline-block;
}

.subtitle h3 {
    margin-right: 32px;
}

.subtitle span {
    margin-top: 8px;
}
